@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fcfcfc; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #699996; 
    border-radius: 6px;
    border: 3px solid #fcfcfc; /* Creates a padded look */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3a6b68; 
  }

  /* Custom Scrollbar for Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #699996 #fcfcfc;
  }
}
